<h2>Museum Information</h2>
<p><table border=1>
<tr><td><b>Name: </b><%= @museum.name %></td><td><b>City: </b><%= @museum.city %></td></tr>
</table></p>

<p><table border=1>
<tr><td><b>Title</b></td><td><b>Year</b></td><td><b>Style</b></td><td><b>Image</b></td></tr>
<% @museum.paintings.each do |painting| %>
	<tr>
	<td><%= painting.title %></td><td><%= painting.year %></td><td><%= painting.style %></td><td><img src = "<%= painting.image %>"</td>
	</tr>
	<% end %>
</table></p>

<!-- <table border=1> -->

