<!DOCTYPE html>
<html>
<head>
  <title>MuseumApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>MuseumApp v0.1</h1>

<h2>Navigate</h2>
<table border=1 ><tr><td><b><%= link_to 'Museums', museums_path %></b></td><td><b><%= link_to 'Artists', artists_path %></b></td><td><b><%= link_to 'Paintings', paintings_path %></b></td></tr>
</table>

<%= yield %>

</body>
</html>
